<footer class="family-footer">
<div class="grid-container fluid">
  <div class="grid-x">
    <div class="medium-6 xlarge-3 family-footer__contact">
      <img src="{{root}}assets/img/family_footer.png" alt="">
      <h5>Dave Rocke
      <br>Kendra Rocke
          <br>P.O. Box 8514
          <br>Ketchikan, Alaska
          <br>99901
      </h5>
      <a href="reservations.html" class="button">Call Now</a>
      <div class="grid-x">
        <div class="cell small-1 small-offset-4 xlarge-1 xlarge-offset-4">
          <a href="https://www.facebook.com/Family-Air-Tours-271179209628088/" target="_blank"><img src="{{root}}assets/img/fb_icon.png" alt=""></a>
        </div>
        <div class="cell small-1">
            <a href="https://www.instagram.com/familyairtours/" target="_blank"><img src="{{root}}assets/img/ig_icon.png" alt=""></a>
        </div>
        <div class="cell small-1">
          <a href="https://www.tripadvisor.com/Attraction_Review-g31030-d1554111-Reviews-Family_Air_Tours-Ketchikan_Alaska.html" target="_blank"><img src="{{root}}assets/img/trip_icon.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="medium-6 xlarge-3 family-footer__forest">
      <div class="grid-x">
        <div class="cell small-12">
          <img src="{{root}}assets/img/usfs_logo.png" alt="" class="forest-image">
          <p class="forest-text">Family Air tours, LLC operates under permits from the USDA Forest Service and is an equal opportunity service provider.</p>
          <div class="grid-x kvb-info">
            <div class="cell small-2 small-offset-2">
              <img src="{{root}}assets/img/kvb_logo.png" alt="">
            </div>
            <div class="cell small-6">
              <p>Ketchikan Visitors Bureau</p>
              <p>Member Since 2005</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="medium-6 xlarge-3 family-footer__popular">
      <div class="grid-x">
        <div class="cell">
          <h4>CONTACT US</h4>
          <hr>
          <p><a href="mailto:info@familyairtours.com">info@familyairtours.com</a></p>
          <p>(907) 247-1305</p>
          <p> <a data-open="exampleModal1">MEET THE PILOT</a></p>
          <!-- MODAL BOX -->
          <div class="large reveal modal-box" id="exampleModal1" data-reveal>
            <h1>Meet Dave</h1>
            <p>When people ask me where I grew up I usually respond, "I don't know". Either I don't feel that I grew up or can't really pick the place where it might have happened. My junior and senior high school years were spent in a small dairy farming community in upstate New York called Cobleskill. College years were misspent in Cobleskill and Albany, New York. In 1975 I moved from New York City to Port Orchard, Washington and then to Bainbridge Island, Washington.</p>
            <p>In 1982 I wrote some resumes (mostly fiction) and convinced a fishing lodge in Alaska that I would make a good fishing guide and worked the next eight summers guiding in Alaska and goofing off in either Florida, Mexico or Washington during the winters. One of the lodges had airplanes and I saw that the pilots lazed around, drinking coffee, while directing us guides to do their work, I thought, "I like coffee".</p>

            <p>In 1986 - 1988 I obtained my pilot's licenses to start what I thought would be an easy and carefree existence. Unfortunately I have never found any guides or anyone else who was as easily hornswaggled as I was and so have never realized the life of leisure I aspire to. I worked another two years as a pilot/guide and then nine years for Taquan Air in Ketchikan, Alaska, first as a line pilot, then as Chief Pilot, then as Director of Operations.</p>

            <p>In 1996 I called up Alice, who I had gone out with 13 years earlier when we were both working for Waterfall Resort on Prince of Wales Island, Alaska. I ask her if she would like to go out to dinner (she was in Colorado, I in Alaska) she said yes and we married a year later. Some women will do just about anything to come to Alaska.</p>

            <p>In 2001 I asked Alice if we could go into business for ourselves in a one plane/one pilot airtaxi (we had just bought a house so we had lots of free cash). For some reason she said yes and that's how I got here. I've been doing this for 14 years now, and find that it was a great decision, even though I still haven't found anyone to do all the work yet.</p>

            <p>We'd love to show you this part of Alaska, we specialize in customized trips for you. Please call us for information, whether it's to go see bears, the Misty Fjords/Glaciers, go fishing, go camping or maybe you have an unique idea of your own. I'll share my experience with you and help make your Alaska vacation the one you've dreamed of.</p>
          </br>
          </hr>
            <p class="alice-text">Alice died on July 4, 2006 from breast cancer that had spread throughout her body. She was 53. We all miss her very much and I still think of Family Air as her creation as much as mine.</p>

            <p class="alice-text">While Alice was alive she reminded every woman over 40 or at a high risk for the disease to get annual breast exams and mammograms. She encouraged others in their fight against cancer and reminded them that the survival rate is high for those with early detection.</p>

            <p class="alice-text">She also was very saddened by those young (and older) people who use tobacco in any form, as it raises the risk for all types of cancer and other diseases.</p>

            <p class="alice-text">If you live in Ketchikan, Southeast Alaska, or just have generous heart, you might think of donating to First City council on Cancer they were a great help in our fight and they are a great local organization.</p>

            <h6>The following websites can give you more information.</h6>
            <div class="grid-container">
              <div class="grid-x">
                <div class="small-3 cell">
                  <a href="www.breastcancer.org/">BreastCancer.org</a>
                </div>
                <div class="small-3 cell">
                  <a href="www.nationalbreastcancer.org">NationalBreastCancer.org</a>
                </div>
                <div class="small-3 cell">
                  <a href="www.cancer.gov">Cancer.gov</a>
                </div>
                <div class="small-3 cell">
                  <a href="www.cancer.org">Cancer.org</a>
                </div>
              </div>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- END MODAL BOX -->
          <p><a href="reservations.html">MAKE A RESERVATION</a></p>
        </div>
        <div class="cell">
          <h4>POPULAR</h4>
          <hr>
          <p><a href="tourspackages.html">ALL TOUR PACKAGES</a></p>
          <p><a href="charters.html">CHARTERS</a></p>
          <p><a href="lakelist.html">LAKE TRIPS</a></p>
        </div>
      </div>
    </div>
    <div class="medium-6 xlarge-3 family-footer__policies">
      <div class="grid-x">
        <div class="cell customize">
          <!-- HOOKED UP LOGO -->
          <a href="http://hookupflyshop.com/" target="_blank"><img src="{{root}}assets/img/hookuplogo.png" alt="The Hookup Guide Service"></a>
        </div>
        <div class="cell">
          <h4>POLICIES</h4>
          <hr>
          <p><a href="faq.html">FAQ'S</a></p>
          <p><a href="cancellation.html">CANCELLATION POLICY</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
<div class="grid-container fluid ncdesign-footer">
  <div class="grid-x">
    <div class="background cell">
      <p>Web Design & Development by <a href="http://www.northcreativedesign.com" target="_blank">NORTH CREATIVE DESIGN CO., LLC</a>  /  All Rights Reserved  /  Copyright 2018  /  Ketchikan, Alaska</p>
    </div>
  </div>
</div>
