<!-- mobile nav bar -->
<section class="navigation">
  <div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
    </div>
  </div>
  <!-- /mobile nav bar -->

  <!-- medium and larger nav bar -->
  <div class="top-bar topbar-center-logo" id="topbar-center-logo">
    <div class="top-bar-left">
      <ul class="menu vertical medium-horizontal">
        <p>(907) 247-1305 <span>/</span> <span>info@familyairtours.com</span> </br><span class="fly-family">Fly With Us Fly Like Family</span></p>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal">
        <li><a href="index.html" class="navigation__home">Home</a></li>
        <li><a href="tourspackages.html" class="navigation__tour">Tour Packages</a></li>
        <li><a href="charters.html" class="navigation__charter">Charters</a></li>
        <li><a href="lakelist.html" class="navigation__laketrips">Lake Trips</a></li>
        <li><a href="reservations.html" class="navigation__reservations">Reservations</a></li>
      </ul>
    </div>
  </div>
  <!-- /medium and larger nav bar -->
</section>
